<div ng-controller="productController as prodCtrl">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold; white-space: nowrap">

      <td style="width:30%">
        Product
      </td>
      <td style="width:20%">
        Category
      </td>
      <td style="width:20%">
        Quantity
        <form editable-form name="qtyform" ng-show="qtyform.$visible">
          <button type="submit" ng-disabled="qtyform.$waiting" class="btn btn-primary">
            change
          </button>
          <button type="button" ng-disabled="qtyform.$waiting" ng-click="qtyform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>  
        <button class="btn btn-default" ng-show="!qtyform.$visible" ng-click="qtyform.$show()">
          edit
        </button>
      </td>
      <td style="width:20%">
        Price
      </td>
    </tr>

    <tr ng-repeat="product in $storage.cart">
      <td>
        <span editable-text="product.name" e-name="name" e-form="nameform">
          {{ product.name }}
        </span>
      </td>

      <td>
        <span editable-text="product.categoryName" e-name="categoryName" e-form="nameform">
          {{ product.categoryName }}
        </span>
      </td>

       <td>
        <span editable-text="product.qty" e-name="qty" e-form="qtyform">
          {{ product.qty }}
        </span>
      </td>
      
      <td>
        <span editable-text="product.price" e-name="price" e-form="nameform">
          {{ product.price }}
        </span>
      </td>
    </tr>
  </table>
</div>